@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
h1{
  text-align: center;
  margin-top: 5%;
}
body {
  font-family: 'Poppins', sans-serif;
}

.admin-dashboard {
  text-align: center;
  margin: 5rem auto;
}

table {
  margin: 2rem auto;
  border-radius: 2rem;
  border: 1rem hidden #443C68;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px black;
  overflow: hidden;
  max-width: 80rem;
}

thead {
  font-size: 1.8rem;
  background-color: #443C68;
  color: #fff;
}

th, td {
  border: 1px solid #443C68;
  padding: 1.5rem;
  line-height: 1.7;
}

th:first-child, td:first-child {
  width: 5%;
  text-align: center;
}

td:first-child {
  font-weight: bold;
}

th:not(:first-child), td:not(:first-child) {
  min-width: 20%;
}

td {
  font-size: 1.4rem;
}
.button{
  cursor: pointer;
  margin: 2px 4px;
  border-radius: none;
  
}

@media only screen and (max-width: 768px) {
  .admin-dashboard {
    margin: 2rem auto;
  }
  
  th, td {
    font-size: 1.4rem;
  }
}
